* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
header {
  height: 70px;
  border-bottom: 2px solid black;
  margin-bottom: 20px;
}

.book-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: 20px auto;
}
.book {
  line-height: 30px;
  height: 500px;
  border: 2px solid black;
  /* max-height: max-content; */
}
.book img {
  width: 100%;
  height: 50%;
}
.book #buy {
  width: 80%;
  color: black;
  background-color: white;
  height: 40px;
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 20px;
}
.top {
  max-width: 1300px;
  font-size: 22px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 50px;
  border: 2px solid black;
}
